body{
  background: url(/img/room.jpg) no-repeat;
  background-size: cover;

}

#clock {
  position: relative;
  margin: 5px auto;
}

#clock img {
    position: absolute;
}

#face {
z-index: 0

}
#hour {

  z-index: 1
}

#minute {
    z-index: 2
}

#second {
    z-index: 3
}
